{% extends 'layout/master.html' %}
{% load crispy_forms_tags %}
{% block 'content' %}
<div class="container mt-5">
        {% if request.user.is_authenticated %}
            <p>Hello <strong>{{request.user}}</strong></p>
        {% endif %}
        <a href="{% url 'logout'  %}" class="btn btn-secondary mb-3">Logout</a>
        <div class="row">
            <div class="col-md-8">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Image</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for coffee in coffees %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{coffee.name}}</td>
                            <td>{{coffee.price}}</td>
                            <td>{{coffee.quantity}}</td>
                            <td><img src="{{coffee.image.url}}" width="130px" height="80px" alt=""></td>
                            <td>
                                <a href="{% url 'edit' coffee.id %}" class="btn btn-primary btn-sm">Update</a>
                                <a href="{% url 'delete' coffee.id  %}" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if page == "create" %}
            <div class="col-md-4">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        {{ forms.name|as_crispy_field }}
                        {{ forms.price|as_crispy_field }}
                        {{ forms.quantity|as_crispy_field }}
                        {{ forms.image|as_crispy_field }}
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
            {% else %}
            <div class="col-md-4">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        {{ forms.name|as_crispy_field }}
                        {{ forms.price|as_crispy_field }}
                        {{ forms.quantity|as_crispy_field }}
                        {{ forms.image|as_crispy_field }}
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a onclick="history.back()"  class="btn btn-secondary">Back</a>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}